---
import type { GetStaticPaths, InferGetStaticParamsType } from "astro";
// import { Debug } from "astro:components";

import C2AnimationParent from "../../../../../components/AnimationParent.astro";
import C2MainPage from "../../../../../components/MainPage.astro";
import C2NavHeader from "../../../../../components/NavHeader.astro";

export const getStaticPaths = (() => {
  const params = (servicio: string, plan: string) => {
    return { params: { servicio: servicio, plan: plan } };
  };
  const servicios = [
    { name: "aplicaciones-moviles", plans: 0, custom: true },
    { name: "catalogos", plans: 1, custom: true },
    { name: "e-commerce", plans: 1, custom: true },
    { name: "paginas-web", plans: 3, custom: true },
    {
      name: "hosting-mantenimiento",
      plans: ["aplicaciones-moviles", "paginas-web"],
      custom: false,
    },
  ];

  return servicios.flatMap((servicio) => {
    let plans: string[];
    if (Array.isArray(servicio.plans)) {
      plans = servicio.plans;
    } else {
      plans = Array.from({ length: servicio.plans }, (_, i) => {
        return `plan${i + 1}`;
      });
    }
    if (servicio.custom) {
      plans.push("custom");
    }

    return plans.map((plan) => params(servicio.name, plan));
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { servicio, plan } = Astro.params as Params;
---

<C2MainPage>
  <section id="inicio">
    <C2NavHeader invisible={true} />
  </section>
  <section>
    <!-- <Debug servicio={servicio} />
    <Debug plan={plan} /> -->
    <C2AnimationParent intersectionThreshold={0}>
      <div class="flex c2animate fade-in-bottom">
        <div
          class="xl:ms-[8%] xl:w-[42%] w-[50%] resp:w-full p-20 mobl:p-10 flex justify-center"
        >
          <div class="w-full">
            <h2 class="md:text-5xl text-3xl text-black mb-5">
              Cuéntanos tu proyecto
            </h2>
            <form
              class="font-['Smooch_Sans'] md:text-2xl text-xl"
              id="--c2dev-form-contact-proyecto"
              data-servicio={servicio}
              data-plan={plan}
            >
              <input
                type="text"
                name="name"
                placeholder="Nombres y Apellidos*"
                required
                maxlength="100"
                class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
              />
              <input
                type="email"
                name="email"
                placeholder="Correo electrónico*"
                required
                maxlength="100"
                class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
              />
              <input
                type="tel"
                name="number"
                placeholder="Número de teléfono*"
                required
                maxlength="100"
                class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
              />
              <input
                type="text"
                name="subject"
                placeholder="Asunto"
                maxlength="100"
                class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
              />
              <div
                class="mt-5 flex flex-col border rounded-lg border-blue-700 p-2 mb-6"
              >
                <textarea
                  name="message"
                  placeholder="Mensaje*"
                  class="appearance-none border-none text-black mr-3 leading-tight focus:ring-0 focus:outline-none resize-none"
                  required
                  maxlength="10000"
                  rows="6"></textarea>
                <div class="flex justify-end">
                  <button
                  type="submit"
                  id="sendButton"
                    class="bg-blue-600 rounded-full 2xl:w-8 2xl:h-8 md:w-7 md:h-7 p-[0.2rem] flex justify-center items-center hover:bg-blue-700 cursor-pointer"
                  >
                    <img src="/send.svg" class="ml-[0.1rem] w-[80%] h-auto" />
                  </button>
                </div>
              </div>
            </form>

            <div id="toast" class="toast hidden">
              <p id="toast-message"></p>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            
            <script>
              let loading = false;
              let __c2dev_form_contact_inicio;
            
              document.addEventListener("DOMContentLoaded", () => {
                __c2dev_form_contact_inicio = document.getElementById("--c2dev-form-contact-inicio");
                const toast = document.getElementById("toast");
                const toastMessage = document.getElementById("toast-message");
            
                const showToast = (message) => {
                  toastMessage.textContent = message;
                  toast.classList.remove("hidden");
                  toast.classList.add("show");
            
                  setTimeout(() => {
                    toast.classList.remove("show");
                    toast.classList.add("hidden");
                  }, 3000); // Duración de 3 segundos
                };
            
                const submitForm = async (event) => {
                  event.preventDefault();
            
                  if (loading) return;
            
                  loading = true;
                  const sendButton = document.getElementById("sendButton");
                  sendButton.innerHTML = '<div class="h-5 w-5 animate-spin rounded-full border-b-2 border-white"></div>';
            
                  const formData = new FormData(__c2dev_form_contact_inicio);
                  let name = formData.get("name");
                  let email = formData.get("email");
                  let number = formData.get("number");
                  let service = formData.get("service-select");
                  let subject = formData.get("subject");
                  let message = formData.get("message");
            
                  try {
                    const res = await fetch('/api/sendEmail', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                        to: 'passantinodev@gmail.com',
                        subject: subject,
                        name: name,
                        number: number,
                        text: message,
                        email: email,
                        service: service
                      })
                    });
            
                    if (res.status === 200) {
                      loading = false;
                      sendButton.innerHTML = '<img src="/send.svg" class="ml-[0.1rem] w-[80%] h-auto" />';
                      __c2dev_form_contact_inicio.reset();
                      showToast("¡Mensaje enviado con éxito!");
                    } else {
                      showToast("Error al enviar el mensaje.");
                    }
            
                    const data = await res.json();
                    console.log(data);
                  } catch (error) {
                    showToast("Error al enviar el mensaje.");
                    console.log(error);
                  } finally {
                    loading = false;
                  }
                };
            
                __c2dev_form_contact_inicio.addEventListener("submit", submitForm);
            
                document.getElementById("sendButton")?.addEventListener('click', (event) => {
                  event.preventDefault();
                  submitForm(event);
                });
              });
            </script>
            
            

          </div>
        </div>
        <div class="w-[50%] flex justify-center items-center resp:hidden">
          <img src="/SHARK.PNG" class="w-full max-w-[28rem]" />
        </div>
      </div>
    </C2AnimationParent>
  </section>
</C2MainPage>
